# Permitir acesso às imagens
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Desabilitar execução de scripts PHP nesta pasta
<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>



